header {
  height: 100px;
  display: flex;
  align-items: center;
  background: #6441A5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
header > img {
  height: 60%;
  margin-left: 5%;
}
header > p {
  font-family: 1rem, monospace;
  color: whitesmoke;
  font-size: 40px;
  margin-left: 20px;
}
.add-button{
  width: 350px;
  padding: 10px 20px ;
  background-color: blueviolet;
  color:whitesmoke;
  margin-top: 20px;
  margin-left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.save-button{
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 150px;
}



